* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Utilities */


body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? CARINOOOOOO!!!! */ 
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	color:white;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.header-categories p.header-text {
	font-family: "TikTok Sans", sans serif;
	font-size:10px;
}

.header-bar {
	display:flex;
	width:100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-bar > * {
	width: calc(100% / 3);
	padding: 15px;

}

.header-categories {
	display:flex;
	width: 60%;
	flex-direction: row;
	justify-content: space-between;
	align-items:flex-start;
	text-align:center;
	font-size: 16px;
	font-weight:500;
	gap:6px;


}

.category1, .category2, .category3 {
	width: calc(100% / 3);
	display: block;
}

.header-bar i {
	font-size: 22px;
}

header i:last-child {
	text-align:right;
}

.category2, .category1 {
	opacity:0.6;
}




/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	display:flex;
	flex-direction: column;
	height:40%;
	justify-content:space-evenly;
	align-items: center;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.sidebar > div {
	color:#fff;
	text-align:center;
}

p.sb-p {
	font-size: 14px;
}

.sidebar i {
	font-size: 28px;
}


/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}


/* --------------------- */
